<ngb-carousel class="shadow animate__animated animate__fadeIn animate__slow" *ngIf="images" [showNavigationArrows]="false" [showNavigationIndicators]="false">
  <ng-template ngbSlide *ngFor="let image of images">
    <div>
      <img class="bg" [src]="image" alt="Random slide">
    </div>
  </ng-template>
</ngb-carousel>

<div class="col-12 text-center animate__animated animate__bounceInDown">
  <img class="profile-raised shadow" src="assets/img/profile_pic.jpg">
</div>



  <div class="text-center animate__animated animate__bounceInDown">
    <h1>Craig Ronald</h1>
    <p><a target="_blank" href="https://github.com/CraigRonald555">GitHub.com/CraigRonald555</a> | craigronald517@gmail.com</p>
  </div>

  <div class="container animate__animated animate__fadeIn animate__slow">

  <div class="row">
    <div class="col-12">
      <h3>Who I Am</h3>
      <p>An enthuastic software developer with an eye for engineering and the grit to solve complex problems with creative solutions. A <b>versatile developer</b> with
        <b>three years of professional experience</b> in data analysis and <b>multiple years of education in information systems</b>. An easy-going personality with interests in football, gaming, cycling and fitness.
        <b>Proven team player</b> who hopes to bring personal project experience to a company who values someone that is constantly thriving to improve their knowledge in the latest technologies.
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <h3>Skills</h3>

      T-SQL / SQL Database Management / SSRS
      <p><ngb-progressbar [value]="75"></ngb-progressbar></p>
      Angular Frontend Development
      <p><ngb-progressbar [value]="70"></ngb-progressbar></p>
      Firebase Backend Development / NoSQL Database / Hosting
      <p><ngb-progressbar [value]="75"></ngb-progressbar></p>
      TypeScript / JavaScript / HTML5 / CSS3 / Bootstrap
      <p><ngb-progressbar [value]="80"></ngb-progressbar></p>

    </div>

    <hr>

    <div class="col-md-6">
      <h3>Projects <small>(Swipe left to see more)</small></h3>
      <owl-carousel [options]="mySlideOptions" [items]="myCarouselItems" [carouselClasses]="['owl-carousel', 'owl-theme']" #owlElement>
        <div class="item" *ngFor="let item of mySlideItems" (click)="navigateToProject()">
          <a [href]="item.link" target="_blank"><img [src]=item.image /></a>
        </div>
      </owl-carousel>

      <!-- <img class="project" src="assets/img/keepupketo_bg.png"> -->
    </div>

  </div>

  <div class="row">

    <div class="col-md-12">
      <h3>Work Experience</h3>
      <h4>Data Quality Analyst - Wirral Metropolitan College <small>Oct 2017 - Aug 2020</small></h4>
        <div class="mb-3"></div>
        <p><b>Successfully performed under pressure</b> to deliver <b>timely reports</b> which provided crucial information to <b>aid upper management with their decision-making</b>.
         Had a <b>great amount of responsibility</b> in managing the college's main grading system (ProMonitor), <b>providing support to hundreds of stakeholders</b> across the business.</p>

        <p><b>Designed T-SQL queries</b> which automated processes within the college, <b>saving teams days of work</b>. Well experienced using <b>SQL Server Management Studio</b>.
         Left on good terms to pursue a career change into software development.</p>
    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h3>Education</h3>
      <h4>BSc Computer Information Systems - University of Liverpool <small>Aug 2014 - Jul 2017</small></h4>
      <h4>BTEC Level 3 Extended Diploma I.T. - Wirral Met College <small>Aug 2012 - Jul 2014</small></h4>
    </div>
  </div>

  <hr>

  <div class="row">

    <div class="col-md-12">
      <h3>Interests</h3>
      <p>I am open to the possibility of moving away from the North West area. Although I enjoy living here, I
         think experiencing a new challenge elsewhere would be exciting and something I'd look forward to.</p>

      <p>I'm always working on my projects, I enjoy discovering new frameworks and languages by implementing them in something which serves a purpose.
         I am open to working with any language though my preferred ones are TypeScript/JavaScript, HTML5 and CCS3. I'm mostly experienced with using
         the Angular 2+ framework, with a Firebase backend, however have demonstrated the ability to pick up multiple technologies, and am confident I can pick up others
         quickly.
      </p>
    </div>

  </div>

</div>

<footer class="footer">
  <div class="container text-center">
    <span class="text-muted">© Craig Ronald 2021</span>
  </div>
</footer>

